@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@100;200;300;400;600;700;800&display=swap");
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: "Overpass", sans-serif;
}

body {
  background: #f0f8ff;
}

body section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 2rem;
  min-height: 100vh;
  justify-content: unset;
}

body section header {
  width: 90%;
  max-width: 550px;
  display: flex;
}

body section header h1 {
  font-size: 1.6rem;
  color: #4d5053;
}

body section .searchBar {
  margin-top: 1.5rem;
  width: 100%;
}

body section .searchBar form {
  background-color: #fff;
  box-shadow: rgba(99, 99, 99, 0.1) 0px 2px 8px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 90%;
  margin: 0% auto;
  max-width: 550px;
  padding: 0 0.8rem;
  border-radius: 0.35rem;
  padding-top: 2px;
}

body section .searchBar form input {
  flex: 1;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 1rem;
  line-height: 1.5;
  padding: 0.675rem 0;
  padding-inline-start: 0.5rem;
  color: #5f6368;
}

body section .searchBar form input::placeholder {
  color: #5f63685d;
}

body section .searchBar form span {
  color: #5f6368;
  user-select: none;
}

body section .suggestionCont {
  width: 100%;
}

body section .suggestionCont ul {
  background-color: #fff;
  margin: 0% auto;
  width: 90%;
  max-width: 550px;
  list-style: none;
  border-radius: 0 0 0.25rem 0.25rem;
  overflow: hidden;
  border-top: 1px solid #5f636817;
}

body section .suggestionCont ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.8rem 1rem;
  user-select: none;
  cursor: pointer;
}

body section .suggestionCont ul li .liLeft {
  display: flex;
  align-items: center;
  justify-content: center;
}

body section .suggestionCont ul li .liLeft > span {
  font-size: 20px;
  color: #5f6368;
  cursor: pointer;
}

body section .suggestionCont ul li .liLeft > span:hover {
  color: #4d5053;
}

body section .suggestionCont ul li .liLeft p {
  margin-top: 3px;
  font-size: 1rem;
  margin-left: 1rem;
  color: #5f6368;
}

body section .suggestionCont ul li .liLeft p span {
  font-size: 1rem;
  font-weight: bolder;
  color: #111;
}

body section .suggestionCont ul li:not(first-child) {
  border-bottom: 1px solid #5f63682f;
}

body section .suggestionCont ul li:last-child {
  border: none;
}

body section .suggestionCont ul li:hover {
  background-color: rgba(0, 0, 0, 0.055);
}

body section .suggestionCont ul li:hover .removeBtn {
  opacity: 1;
}

body section .suggestionCont ul li.active {
  background-color: rgba(0, 0, 0, 0.055);
}

body section .suggestionCont ul li.active .removeBtn {
  opacity: 1;
}

body section .suggestionCont ul li .removeBtn {
  opacity: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 450px) {
  body section .suggestionCont ul li .removeBtn {
    opacity: 1;
  }
}

body section .suggestionCont ul li .removeBtn span {
  color: #848a92fa;
  font-size: 20px;
}

body section .suggestionCont ul li .removeBtn:hover span {
  color: #dc3545;
}
/*# sourceMappingURL=style.css.map */