:root {
  --size: 6;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: #313131;
  color: #f4f4f4;
  display: flex;
  justify-content: center;
}

header {
  text-align: center;
}

.title {
  margin-bottom: 0;
}

.subtitle {
  margin-top: 0.5rem;
}

.board {
  display: grid;
  grid-template-columns: repeat(var(--size), 60px);
  grid-template-rows: repeat(var(--size), 60px);
  width: fit-content;
  margin: 0% auto;
  margin-top: 2.5rem;
  background: #414141;
  gap: 0.3rem;
  border-radius: 0.15rem;
  padding: 0.3rem;
}

.board div {
  border-radius: 0.15rem;
  cursor: pointer;
  font-size: 2.5rem;
  font-weight: bold;
  display: grid;
  place-items: center;
}

.board > [data-status="hidden"] {
  background-color: #373737;
}
.board > [data-status="marked"] {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' enable-background='new 0 0 24 24' height='24px' viewBox='0 0 24 24' width='24px' fill='%23000000'%3E%3Cg%3E%3Crect fill='none' height='24' width='24'/%3E%3Cpath d='M20.45,5.37C20.71,4.71,20.23,4,19.52,4H13h-1H7V3c0-0.55-0.45-1-1-1h0C5.45,2,5,2.45,5,3v1v10v8h2v-8h4h1h7.52 c0.71,0,1.19-0.71,0.93-1.37L19,9L20.45,5.37z M15,9c0,1.1-0.9,2-2,2s-2-0.9-2-2s0.9-2,2-2S15,7.9,15,9z'/%3E%3C/g%3E%3C/svg%3E");
  background-color: #fec260;
  background-repeat: no-repeat;
  background-size: 52%;
  background-position: center center;
}
.board > [data-status="mine"] {
  background-color: #f05454;
}
.board > [data-status="number"] {
  background-color: #5a5a5a;
}
