@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@300;400;600;700;800&display=swap");
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: "Overpass", sans-serif;
}

body {
  background-color: #fff;
}

body section {
  width: 90%;
  margin: 0% auto;
  max-width: 600px;
}

body section header {
  padding: 1.5rem 0.5rem;
}

body section header h1 {
  color: #2ba59d;
  font-size: 1.8rem;
}

body section form {
  width: 100%;
}

body section form input {
  padding: 0.475rem 1rem;
  border: none;
  outline: none;
  background: #f1f3f4;
  width: 100%;
  border-radius: 0.35rem;
  font-size: 1rem;
  line-height: 1.5;
}

body section .searchResultCont {
  margin-top: 2rem;
}

body section .searchResultCont .githubCont {
  padding: 2rem;
  background: #f1f3f4;
  border-radius: 0.45rem;
}

body section .searchResultCont .githubCont .githubUserCont {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

body section .searchResultCont .githubCont .githubUserCont .userTop {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

@media (max-width: 500px) {
  body section .searchResultCont .githubCont .githubUserCont .userTop {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 0.5rem;
  }
  body section .searchResultCont .githubCont .githubUserCont .userTop .textCont {
    margin-left: 0 !important;
    margin-top: 1.5rem;
  }
}

body section .searchResultCont .githubCont .githubUserCont .userTop .imgCont {
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

body section .searchResultCont .githubCont .githubUserCont .userTop .imgCont img {
  height: 100px;
  width: 100px;
  object-fit: cover;
  border-radius: 50%;
}

body section .searchResultCont .githubCont .githubUserCont .userTop .imgCont::after {
  content: "";
  position: absolute;
  border: 5px solid #2ba59d;
  height: calc(100% + 5px);
  width: calc(100% + 5px);
  border-radius: 50%;
  top: calc(0% - 7.5px);
  left: calc(0% - 7.5px);
  border-left-color: transparent;
  transform: rotate(45deg);
}

body section .searchResultCont .githubCont .githubUserCont .userTop .textCont {
  margin-left: 2rem;
}

body section .searchResultCont .githubCont .githubUserCont .userTop .textCont .username a {
  font-size: 1.4rem;
  font-weight: bold;
  color: #2ba59d;
  text-decoration: none;
  text-transform: capitalize;
}

body section .searchResultCont .githubCont .githubUserCont .userTop .textCont .username a:hover {
  text-decoration: underline;
}

body section .searchResultCont .githubCont .githubUserCont .userTop .textCont .bio {
  margin-top: 5px;
  width: 100%;
}

body section .searchResultCont .githubCont .githubUserCont .userTop .textCont .bio p {
  font-size: 1rem;
  line-height: 1.5;
  color: #5f6368;
  word-break: normal;
  word-wrap: break-word;
}

body section .searchResultCont .githubCont .githubUserCont .repos_follow {
  background-color: #dadce0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 1rem 2rem;
  border-radius: 0.4rem;
  margin-top: 2rem;
}

body section .searchResultCont .githubCont .githubUserCont .repos_follow div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

body section .searchResultCont .githubCont .githubUserCont .repos_follow div .title {
  color: #5f6368;
}

body section .searchResultCont .githubCont .githubUserCont .repos_follow div p:not(.title) {
  color: #111;
  margin-top: 4px;
}

@media (max-width: 500px) {
  body section .searchResultCont .githubCont .githubUserCont .repos_follow {
    padding: 1rem;
    margin-top: 1.5rem;
    flex-direction: column;
  }
  body section .searchResultCont .githubCont .githubUserCont .repos_follow div:not(:first-child) {
    margin-top: 1rem;
  }
}

body section .searchResultCont .githubCont .githubUserCont .repoLists {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  justify-content: flex-start;
  margin-top: 1rem;
  gap: 1rem;
}

body section .searchResultCont .githubCont .githubUserCont .repoLists a {
  text-decoration: none;
  color: #fff;
  background: #2ba59d;
  padding: 0.575rem 1rem;
  text-align: center;
  border-radius: 0.35rem;
}
/*# sourceMappingURL=style.css.map */