*,
*::after,
*::before {
  box-sizing: border-box;
}

h2,
p {
  margin: 0%;
  color: #fff;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
  display: grid;
  place-items: center;
  font-family: "Overpass", sans-serif;
  background: #f4f4f4;
}

.calculator__container {
  background: #fff;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 0.5rem;
  overflow: hidden;
  max-width: 500px;
  width: 90%;
}

.display {
  background: linear-gradient(to right top, #9a9cc9, #807ff9);
  padding: 2rem;
  text-align: right;
  padding-bottom: 0.8rem;
  min-height: 155px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.btns {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.btn {
  font-size: 1.3rem;
  font-size: 2.5rem;
  padding: 1.5rem 2rem;
  line-height: 1.5;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  border: none;
  outline: none;
  background-color: transparent;
  color: #444;
}

.btn.operator {
  color: #4f4ef7;
}

.btn.equal {
  color: #ff9892;
}

.btn:hover {
  background-color: #4e4ef71f;
}

.display h2 {
  font-size: 3.2rem;
}

.display p {
  font-size: 1.6rem;
  opacity: 0.6;
  min-height: 40px;
}

.shortSpan {
  position: absolute;
  color: #fff;
  opacity: 0.3;
  bottom: 10%;
  left: 5%;
  font-size: 1.5rem;
}

header {
  position: absolute;
  top: 8%;
  left: 50%;
  transform: translateX(-50%);
}

header h1 {
  font-weight: bold;
  color: #444;
}
